@import 'assets/styles/variable.scss';
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 $spacing-lg;
  margin-top: $header-height; /* add margin-top */
  @include breakpoint(md) {
    padding: 0 $spacing-md;
  }

  @include breakpoint(sm) {
    padding: 0 $spacing-sm;
  }
}

.header {
  background-color: white;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all $response-transition-time;
  &.scroll {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  border-bottom: 2px solid black;
}

.nav {
  position: relative;
  width: 100%;
  background-color: $white-color;
}

.container-inner {
  position: relative;
  left: 0;
  top: 0;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  transition: all $response-transition-time;
}

// responsive css
// 640 ~ 1024
@include breakpoint(md) {
  .container-inner {
    font-size: 1.6rem;
  }
}

// 0 ~ 640
@include breakpoint(sm) {
}

.logo-img {
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.searchbar {
  align-items: center;
  margin: auto;
  width: 60%;
  height: 50%;
}
