@import 'assets/styles/variable.scss';
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: $spacing-lg;
  padding-left: 10rem;
  padding-right: 10rem;
  position: relative;
  overflow-y: auto;

  @include breakpoint(md) {
    padding: 0 $spacing-md;
  }

  @include breakpoint(sm) {
    padding: 0 $spacing-sm;
  }
}
