.cloud-container {
  background-image: url(./assets/images/wordcloud.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 5fr;
  align-items: center;

  h1 {
    color: white;
    font-family: sans-serif;
    padding-left: 10%;
    animation: slidetext 3s ease-out;
    flex-grow: 1;
  }
}

.stick {
  flex-grow: 2;
  padding-left: 12%;
  .bar {
    animation: slidestick 2s ease-out;
    height: 400px;
    width: 10px;
    background-color: white;
  }
}

.calendar {
  background-color: white;
  margin-left: -10%;
  width: 80%;
  & > div > svg > g > text {
    cursor: pointer;
  }
  & > div > svg {
    padding: 0;
  }
}

@keyframes slidestick {
  from {
    top: 250px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidetext {
  from {
    left: -100px;
    opacity: 0;
  }

  to {
    left: 200px;
    opacity: 1;
  }
}

@keyframes disappeartext {
  from {
    left: 100px;
    opacity: 1;
  }

  to {
    left: -100px;
    opacity: 0;
  }
}

.icon {
  width: 200px;
  background-color: transparent;
}

.WordCloud_calendar__AwNUp {
  div {
    svg {
      g {
        text {
          fill: white;
        }
      }
    }
  }
}
