.category {
  width: fit-content !important ;
  height: fit-content;
  padding-bottom: 0.3rem;
}

.tablist {
  background-color: transparent !important;
}

.tab {
  background-color: #e8e8e8 !important;
  font-size: x-small !important;
  font-weight: bolder !important;
}

.tab:hover {
  background-color: black !important;
  color: white !important;
  font-size: x-small !important;
  font-weight: bolder !important;
}

.active {
  background-color: black !important;
  color: white !important;
  font-size: x-small !important;
  font-weight: bolder !important;
}
