.itemcontainer {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 0.1fr 3fr 1fr;
  gap: 5px;
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid #f1f4f6;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
}

.title-content {
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  gap: 0px;
}

.title {
  color: (rgb(61, 116, 255));
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  padding-top: 3px;
  padding-right: 10px;
  cursor: pointer;
}

.content {
  margin: 0;
  color: rgb(73, 73, 73);
  font-size: 15zpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  height: 4.8em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-right: 10px;
  cursor: pointer;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding-top: 2%;
    width: 150px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }
}

.sub-info {
  display: flex;
  gap: 5px;
  color: gray;
  font-size: 12px;
}
